Flask==2.3.2
cryptography==42.0.5
pytermgui==7.7.1
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.0
SQLAlchemy==2.0.28
requests==2.31.0
sqlparse==0.5.0
tink==1.9.0
psycopg2-binary==2.9.9
sympy==1.12
PyYAML==6.0.1